* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  body {
  position: relative;
  }
  .wrapper {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }

  nav {
    background-color: #bf6e948a;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }
  
  nav ul li {
    align-items: right;
    padding: 0 0 0 20px;
    font-size: 16px;
    color: whitesmoke;
  }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.column1 {
  background-color: #ab677d21;
  width: 100%;
  height: 200px;
}
.column1 img{
  width: 150px;
  height: 150px;
  background: black;
  border-radius: 160px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 43%;
  left: 33%;
  box-shadow: 2px 2px 60px 2px grey;
}

.column2 {
  width: 100%;
  height: 200px;

}
.column1, .column2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  }

footer {
  display: block;
  background-color: #bf6e948a;
  color: whitesmoke;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  padding: 20px;
}
  .column p {
    font-size: 20px;
    
}
h2 {
  margin-top: 70px;
  margin-bottom: 3px;
}
h4 {
  font-weight: lighter;
  margin: 4px;
}
h6 {
  font-weight: lighter;
  font-style: italic;
  margin: 2px;
  color:#707070
}
.listing {
  font-style: italic;
  margin:5px 20px 0 20px;
  color:#707070;
  height: 250px;
  min-height: 250px;
}
.icons{
  display: block;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  min-height: 120px;
}
.icons img {
  height: 40px;
}

@media (min-width : 768px) {
  nav ul li {
    font-size: 16px;
  }
  .column1 {
    height: 300px;
    min-block-size: 300px;
  }
  .column2 {
    height: 200px;
    min-block-size: 200px;
  }
  .column1 img {width: 250px;
    height: 250px;
    top: 34%;
    left: 41%;
    }

  }